*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.buttons {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, .25);
  text-align: center;
  z-index: 1;
}

.buttons button {
  border: none;
  margin: 16px;
  padding: 16px 32px;
}

#main {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
